{% extends 'template.html' %}
{% block content %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
            <td>{{ ingrediente.name }}</td>
            <td><a href='/ingredientes/{{ ingrediente.id }}'>Editar</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{{url_for('novoingrediente')}}"><button>Novo Ingrediente</button></a>
</table>
{% endblock %}
