{% extends 'template.html' %}
{% block content %}

    {{receita.name}}
    <table>
    <tr>
        <td>Ingredientes</th>
    </tr>
    <tr>
        <td>Quantidade</td>
        <td></td>
        <td>Unidade e Medida</td>
        <td></td>
        <td></td>
        <td>Ingrediente</td>
    </tr>
    {% for t in receita_ingredientes_qs %}
    <tr>
        <td>{{t.quantity}}</td>
        <td></td>
        <td>{{t.unidade.name}}</td>
        <td></td>
        <td></td>
        <td>{{t.ingrediente.name}}</td>
        <td><a href='/receitas/ingredientes/{{t.id}}/delete'>Deletar</a></td>
    </tr>
    {%endfor%}
    </table>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <fieldset>
            {{form.ingredientes}}
            {{form.submit}}
        </fieldset>
    </form>
    <table>
        <tr>
            <td>Instruções</th>
        </tr>
        {% for t in receita_instructions_qs %}
        <tr>
            <td>{{t.instruction}}</td>
            <td><a href='/receitas/instructions/{{t.id}}/delete'>Deletar</a></td>
            <td></td>
        </tr>
        {%endfor%}
        </table>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset>
                {{form.instructions}}
                {{form.submit}}
            </fieldset>
        </form>
{% endblock %}