{% extends 'template.html' %}
{% block content %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {% for unidade in unidades %}
        <tr>
            <td>{{ unidade.name }}</td>
            <td><a href='/unidades/{{ unidade.id }}'>Editar</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{{url_for('novaunidade')}}"><button>Nova Unidade de Medida</button></a>
</table>
{% endblock %}
